* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(89,53,87);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  text-align: center;
 
}


header {
  font-size: 2rem;
}


header,
form {
  min-height: 20vh;
  display: flex;
  width: auto;
  justify-content: center;
  align-items: center;
}
form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: rgb(64,35,61);
  color: white;
}
form button {
  color: #885685;
  background: rgb(64,35,61);
  cursor: pointer;
  transition: all 1s ease;
}
form button:hover {
  background: #85448b;
  color: rgb(64,35,61);
}
.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 50%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background:  rgb(64,35,61);
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 1s ease;
}
.filter-todo {
  padding: 1rem;
}
.todo li {
  flex: 1;
}

.main-container{ 
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-container{
  
 
  background-color:  rgb(78,47,78);
  width: 50%;
  min-height: 80vh;
  margin: 5vh;
  
}

.title-container {
background-color: rgb(113,67,111);
align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
height: 15vh;
}

.trash-btn,
.complete-btn {
  background: #885685;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}
.complete-btn {
  background: rgb(184, 106, 164);
}
.todo-item {
  padding: 0rem 0.5rem;
  font-size: 1rem;
}

.todo-input{
  color: white;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.fall {
  transform: translateY(10rem) rotateZ(20deg);
  opacity: 0;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
.inputText{
  display: block;
  width: auto;
}

/*CUSTOM SELECTOR */
select {
  display: block;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background-image: none;
}

/* Custom Select */
.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
  max-width: 14rem;
  
  background-color: rgb(64,35,61) ;
}
/* Arrow */
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  
  cursor: pointer;
  pointer-events: none;
}
/* Transition */

@media only screen and (max-width: 1200px){
  .content-container{
    width: 80%;
    min-height: 100vh;
  }
}
@media only screen and (max-width: 750px){
  .content-container{
    width: 90%;
  }
}

@media only screen and (max-width: 700px){

  .select::after {
    content: none;
  }


  h1, h2 {
    font-size: 1.3rem;
  }

  .content-container{
    width: 100%;
    margin: 0;
  }
  .title-container{
    height: auto;
  }
  .filter-todo {
    color: white;
    padding: 0.5rem;
  }
  form input,
form button{
  font-size: 1rem;
}
}
@media only screen and (max-width: 400px){

  .todo-item {
    font-size: 1rem;
  }

  .filter-todo {
    color: white;
    padding: 0.3rem;
    display: block;
  }
  form input,
form button{
  font-size: 0.8rem;
}
form {
  min-height: 10vh;
}
}
